<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174507597836-b3v6eqh13d7tsqncuurvb6ur5kgni50p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174507597836-b3v6eqh13d7tsqncuurvb6ur5kgni50p</string>
	<key>API_KEY</key>
	<string>AIzaSyAvyX62GETY78YZXj4MjoLupUmSFMXrxFM</string>
	<key>GCM_SENDER_ID</key>
	<string>174507597836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hocus.LoaPalette</string>
	<key>PROJECT_ID</key>
	<string>lorpallete-2746c</string>
	<key>STORAGE_BUCKET</key>
	<string>lorpallete-2746c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174507597836:ios:1e70a979eac08dcede0e29</string>
</dict>
</plist>